* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

input {
  width: 27vw;
  height: 3vh;
  margin: auto 8px;
}

button {
  padding: 2.5px 15px;
}
.main img {
  width: 30%;
  height: 30%;
}
